In [1]:
import pandas as pd
import datetime as dt

In [7]:
# this method helps to convert values to date object
dt.date(1997,4,25)

datetime.date

In [12]:
# it create datetime object and its default time is midnight
dt.datetime(1997,4,25,12,36,45)
s=dt.datetime(1997,4,25)

In [13]:
# applied attributes
s.year

1997

In [14]:
s.month

4

In [15]:
s.day

25

In [16]:
s.hour

0

In [17]:
s.minute

0

In [18]:
s.second

0

In [22]:
# create a date time object in human readble way using the str method
str(dt.datetime(1997,4,25,12,36,45))

'1997-04-25 12:36:45'

In [32]:
# pandas timestamp object it helps to take a date as different formats
pd.Timestamp(dt.datetime(1997,4,25))
pd.Timestamp("25/4/1997")# give a string format type data
pd.Timestamp('4/13/1997')
pd.Timestamp('4/1/1997')# this type of cases treat as 4 as month

Timestamp('1997-04-01 00:00:00')

In [34]:
type(pd.Timestamp('1997-10-5 9:6:10'))

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
pd.DatetimeIndex(
    data=None,
    freq=<object object at 0x0439D9D0>,
    tz=None,
    normalize=False,
    closed=None,
    ambiguous='raise',
    dayfirst=False,
    yearfirst=False,
    dtype=None,
    copy=False,
    name=None,

In [80]:
# Date time index object
index=pd.DatetimeIndex(['2016-2-25','2222-4-5','2012-5-25'])

In [81]:
values=[10,42,25]
killer=pd.Series(values,index) #it hepls to create index of series objects

In [76]:
# the below method helps to convert series objects to datetime objects
bdates=pd.Series(['2020-14-2','2016-2-12','2222-4-15','2012-5-15'])
#pd.to_datetime(dates)

In [82]:
#table contents count and index values count is not equal then give an error
values=[20,25,42,51,60]
pd.Series(values,index)

ValueError: Length of passed values is 5, index implies 3.

In [78]:
import pandas as pd
pd.to_datetime(bdates,errors='coerce')#errors parameter used to ignore the error and reamining data processed

0          NaT
1   2016-02-12
2   2222-04-15
3   2012-05-15
dtype: datetime64[ns]

In [83]:
#create dates from some range to some range using pd.date_range() method
pd.date_range('2020-12-25','2021-12-25')

DatetimeIndex(['2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
               '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01',
               '2021-01-02', '2021-01-03',
               ...
               '2021-12-16', '2021-12-17', '2021-12-18', '2021-12-19',
               '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23',
               '2021-12-24', '2021-12-25'],
              dtype='datetime64[ns]', length=366, freq='D')

In [88]:
pd.date_range('2020-12-25',periods=5,freq='y')

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [91]:
values=pd.date_range(end='2020-12-25',periods=10,freq='2Y')

In [101]:
dates=pd.Series(values).head(3)

In [102]:
# dt accessor helps to extract data similar to str accessor data.str.min 
dates.dt.date

0    2001-12-31
1    2003-12-31
2    2005-12-31
dtype: object

In [103]:
dates.dt.day

0    31
1    31
2    31
dtype: int64

In [104]:
dates.dt.ceil

In [105]:
dates.dt.days_in_month

0    31
1    31
2    31
dtype: int64

In [4]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [10]:
# data reader helps to read data from internet
# name parameter define name of company
# data_source define website name or address of the data
stocks=data.DataReader(name='MSFT',data_source='yahoo',start='2010-01-01',end='2020-01-01')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.801456
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.168472
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.176279

In [11]:
type(stocks)

pandas.core.frame.DataFrame

In [ ]:
# this attributes define the values,index,columns of data frame
stocks.values,stocks.index,stocks.columns

In [13]:
# selectin rows from a dataframe with a datetime index
stocks.loc['2009-12-31','High']

30.989999771118164

In [15]:
stocks.loc[['2009-12-31','2010-01-05'],'High']

Date
2009-12-31    30.99
2010-01-05    31.10
Name: High, dtype: float64

In [16]:
stocks.iloc[-1]

High         1.577700e+02
Low          1.564500e+02
Open         1.567700e+02
Close        1.577000e+02
Volume       1.836940e+07
Adj Close    1.564554e+02
Name: 2019-12-31 00:00:00, dtype: float64

In [18]:
stocks.loc['2030-05-02']

KeyError: '2030-05-02'

In [22]:
stocks.loc[[pd.Timestamp('2009-12-31'),pd.Timestamp('2010-01-05')]]

             High        Low   Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.98  30.480000  31929700.0  23.801456
2010-01-05  31.10  30.639999  30.85  30.959999  49749600.0  24.176279

In [23]:
stocks.loc[['2009-12-31','2010-01-05']]

             High        Low   Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.98  30.480000  31929700.0  23.801456
2010-01-05  31.10  30.639999  30.85  30.959999  49749600.0  24.176279

In [27]:
# Time stamp object attributes and methods
index=stocks.index
index.is_quarter_end

array([ True, False, False, ..., False, False,  True])