In [7]:
import pandas as pd
list=['naveen','killer']
data=pd.Series(list)

In [8]:
data

0    naveen
1    killer
dtype: object

In [10]:
data

0    naveen
1    killer
dtype: object

In [15]:
data.index[0]

0

In [23]:
data=pd.read_csv("sample.csv",usecols=['Company Name'],squeeze=True)
data.tail(3)

496    GRAMMER & VOCABULARY 6
497        ENGLISH OLYMPIAD-5
498      MarkITIK KAHANIYAN 1
Name: Company Name, dtype: object

In [52]:
data=pd.read_csv("sample.csv",index_col='Serial Number',squeeze=True)
data.head()
data.values
data.size

1996

In [50]:
data.shape

(499, 4)

In [51]:
data.ndim

2

In [7]:
import pandas as pd
data=pd.read_csv("sample.csv",usecols=["Company Name"],squeeze=True)

In [8]:
data

0                 TALES OF SHIVA
1      1Q84 THE COMPLETE TRILOGY
2                       MY KUMAN
3        THE GOD OF SMAAL THINGS
4               THE BLACK CIRCLE
                 ...
494       GRAMMER & VOCABULARY 4
495       GRAMMER & VOCABULARY 5
496       GRAMMER & VOCABULARY 6
497           ENGLISH OLYMPIAD-5
498         MarkITIK KAHANIYAN 1
Name: Company Name, Length: 499, dtype: object

In [9]:
data.is_unique

False

In [10]:
data.name

'Company Name'

In [14]:
data.sort_values(ascending=False).head(5)

170                                           ZELALDINUS
234    YOUNG LEARNER ENGLISH GRAMMAR { 6T X 5 EACH } ...
62                   YOUNG CHILDREN LEARNING MATHEMATICS
432    YOU CAN WIN :A STEP BY STEP TOOL FOR TOP ACHIVERS
9                             YOU CAN IF YO THINK YO CAN
Name: Company Name, dtype: object

In [17]:
data.sort_index(ascending=False).head(7)

498      MarkITIK KAHANIYAN 1
497        ENGLISH OLYMPIAD-5
496    GRAMMER & VOCABULARY 6
495    GRAMMER & VOCABULARY 5
494    GRAMMER & VOCABULARY 4
493    GRAMMAR & VOCABULARY 3
492    GRAMMER & VOCABULARY 2
Name: Company Name, dtype: object

In [18]:
'ENGLISH OLYMPIAD-5' in data.values

True

In [19]:
10 in data.index

True

In [20]:
data[10]

'DONGRI SE DUBAI TAK (MPH)'

In [21]:
data[498]

'MarkITIK KAHANIYAN 1'

In [22]:
data[[10,5,6]]

10        DONGRI SE DUBAI TAK (MPH)
5     THE THREE LAWS OF PERFORMANCE
6                 CHAMarkKYA MANTRA
Name: Company Name, dtype: object

In [23]:
data[1:10]

1              1Q84 THE COMPLETE TRILOGY
2                               MY KUMAN
3                THE GOD OF SMAAL THINGS
4                       THE BLACK CIRCLE
5          THE THREE LAWS OF PERFORMANCE
6                      CHAMarkKYA MANTRA
7                               59.FLAGS
8    THE POWER OF POSITIVE THINKING FROM
9             YOU CAN IF YO THINK YO CAN
Name: Company Name, dtype: object

In [24]:
data.head(9)

0                         TALES OF SHIVA
1              1Q84 THE COMPLETE TRILOGY
2                               MY KUMAN
3                THE GOD OF SMAAL THINGS
4                       THE BLACK CIRCLE
5          THE THREE LAWS OF PERFORMANCE
6                      CHAMarkKYA MANTRA
7                               59.FLAGS
8    THE POWER OF POSITIVE THINKING FROM
Name: Company Name, dtype: object

In [25]:
data[2000]

KeyError: 2000

In [28]:
data.reindex(index=[2000])

2000    NaN
Name: Company Name, dtype: object

In [29]:
data.value_counts()

ENGLISH LITERATURE                             3
AND THE MOUNTAINS ECHOED                       3
THE MISTRESS OF SPICES                         2
CREATIVE ARTS IN THE LIVESOF YOUNG CHILDREN    1
LEADING A DIGITAL SCHOOL                       1
                                              ..
PHONIC FIRST BOOK-6                            1
MAYADA :  DAUGHTER OF IRAQ                     1
TOWARDS A MOVING SCHOOL                        1
TALES OF HUMOUR                                1
VISHNU THE SAVIOUR                             1
Name: Company Name, Length: 494, dtype: int64

In [37]:
def add(name):
    for name in data.values:
        item=name+'some'
        return item
data.apply(add)

0      TALES OF SHIVAsome
1      TALES OF SHIVAsome
2      TALES OF SHIVAsome
3      TALES OF SHIVAsome
4      TALES OF SHIVAsome
              ...
494    TALES OF SHIVAsome
495    TALES OF SHIVAsome
496    TALES OF SHIVAsome
497    TALES OF SHIVAsome
498    TALES OF SHIVAsome
Name: Company Name, Length: 499, dtype: object

In [35]:
data.apply(add)

0      TALES OF SHIVAsome
1      TALES OF SHIVAsome
2      TALES OF SHIVAsome
3      TALES OF SHIVAsome
4      TALES OF SHIVAsome
              ...
494    TALES OF SHIVAsome
495    TALES OF SHIVAsome
496    TALES OF SHIVAsome
497    TALES OF SHIVAsome
498    TALES OF SHIVAsome
Name: Company Name, Length: 499, dtype: object